@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-display: "Roboto", "sans-serif";
    /* color pallet */
    --color-primary: #468429;
    --color-secondary: #4B0C08;
    --color-third: #171717;
}

